<div class="logo">
    <div>
        <%= image_tag "logo_yourjob_copy.png", class: "main-logo" %>
        <h1>Your Job</h1>
    </div>
</div>

<%# élément principal de la page %>
<div class="">
    <h2>Check your skills</h2>
    <%# carte du skill (utiliser js) %>
    <div class="skill-card">
        <h3>Adaptability</h3>
        <p>The ability to change (or be changed) to fit changed circumstances</p>
        <p><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
    </div>
<%# boutton pour passer au skill suivant puis si last skill : end questions%>
<button class="btn-primary">Validate your skill</button>
</div>

<%# image du skill %>
<img src="" alt="">

