// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$blue-sky:#2f97c1;
$blue-sea:#1F6684;
$blue-night:#3f3d57;
$grey-sky:#eeebeb;
$yellow-gold:#f8c549;
$night-room:#7692FF;
