.all-elements {
    display: flex;
    padding: 1%;
}
.applications-column {
    width: 25%;
    margin-top: 50px;
}

// profile card and its elements
.apply-btn {
    align-content: center;
    text-align: center;
    margin: 2% auto 4%;
}

.profile-card {
    display: flex;
    background: white;
    margin: 30px auto 1% 1%;

    width: 65%;
    height: 100%;
    border: white;
    box-shadow: 10px 10px 52px 10px rgba(0,0,0,0.21);

    flex-direction: column;
    border-radius: 20px 20px 0 0;
    
    // font style
    .full-name {
        text-align: right;
    }
    h1 {
        color:black;
        font-size:40px;

    }
    
    h2 {
        color:#2F97C1;
        font-family:'Roboto';
        font-size: 50px;
        font-weight: bold;
        line-height: 0.7em;
    }

    p {
        color:#3f3d57;
        font-family:'Roboto';
        font-size: 20px;
    }
}

.quote h1 {
    border-left: solid 4px #2F97C1;
    padding-left: 40px;
}

.profile-card-top {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 250px;
    
    .quote {
        align-self: flex-end;
        margin-left: 10%;
    }
    .full-name {
        position: absolute;
        right: 27%;
    }

    .image-block {
        display: flex;
        justify-content: flex-end;
    }
}

.profile-pic {
    object-fit: cover;
    height: auto;
    width: 250px;
    border-radius: 0 20px 0 0;
}

.row .col-sm-9 {
    align-items: center;
    display: flex;

    h3 span {
        border-bottom: solid #2F97C1;
        
    }
}

// application title and application cards
.applications-column h3 {
    background-color: white;
    font-family: 'Roboto';
    font-weight: bold;
    color: #2F97C1;
    text-align: center;
    box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    line-height: 40px;
}

.offer-card {
    color: white;
    text-align: center;
    background-color: #3a8fb1;
    border-radius: 30px;
    margin: 30px auto;
    padding: 1px;
}

.offer-card p {
    line-height: 10px;
}

.offer-card:hover {
    background-color: #3f3d57;
}
