.all-elements {
    display: flex;
    padding: 1%;
    height: 100vh;
    overflow: hidden;
}


// profile card and its elements

.btn-ghost {
  margin-right:auto;
  margin-left:auto;

    a.btn-ghost {
    margin:30px 50px;
    text-decoration: none;
  }
}

.profile-card {
    display: flex;
    position:sticky;
    background: white;
    margin: 10px auto 1% 1%;
    width: 65%;
    height: 670px;
    box-shadow: 10px 10px 25px 10px rgba(0,0,0,0.21);
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;

    h1 {
      color:#3f3d57;
      font-size:40px;
      margin: 0;
    }

    h2 {
        color:black;
        font-family:'Roboto';
        font-size: 30px;
        // font-weight: bold;
        line-height: 0.7em;
    }

    p {
        color:#3f3d57;
        font-family:initial;
        font-size: 15px;
        font-style:oblique;
        margin-bottom: 0px;
    }

    h4 {
      font-style:oblique;
      font-size:15px;
      font-weight:200;
    }
}

.profil-test-btn {
  padding: 20px;
}

.profile-card-top {
    display: flex;
    // justify-content: space-between;
    // position: relative;
    height: 250px;
    border-radius:20px 20px 0 20px;

    .quote {
        align-self: flex-end;
        margin-left:20px;
        // margin-top: 20px;
        border-left: solid 4px #2F97C1;
        padding-left: 20px;
        margin-right:20px;
        text-align:justify;

        h5 {
        color:#3f3d57;
        font-family:'Roboto';
        font-size: 20px;
        font-weight: bold;
        line-height: 0.7em;
        }
      }

    .full-name {
      margin-left:20px;
      color:#2F97C1;
      span {
        font-weight:lighter;
      }
      // text-align:center;
    }

    .user-infos {
        margin-right:20px
      }

    .line-infos {
      h3 {
        font-weight:100;
        font-size:20px;
        margin-left:20px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }

    .name-infos {
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding: 20px 0;
      // margin-right:20px;


      // .tab-content {
      //   margin-left:10px;
      //   padding:20px;
      //   h3 {
      //     font-size: 15px;
      //   }
      //   p {
      //     font-size: 15px;
      //   }
      // }
    }

    .image-block {
        display: flex;
        justify-content: flex-end;
    }
}

.profile-pic {
    object-fit: cover;
    height: auto;
    width: 175px;
    border-radius:20px 0 0 0;
  }

// skills and grades

.tableaux {
  display:flex;
  justify-content:space-evenly;
  margin-top:30px;

  h5 {
    color: #2F97c1;
    font-style: italic;
  }
}


// .fa-star .orange {
//   color: orange;
// }

// .fa-star .grey {
//   color: grey;
// }

.tableau1 {
  margin-left: 60px;
}

.tableau2 {
  margin-right:60px;
}
.border_profile {
  border-left: solid 1px #3f3d57;
}

.tableau1 {
  .grid-skills {
    display: flex;
    margin-left:auto;
    margin-right:auto;

    .skills-line {
      display:flex;
      align-items:center;

      .rating-group {
        width: 115px;

        h5 {
          display: flex;
          justify-content: flex-end;
        }

        .rating__label {
            cursor: pointer;
            padding: 0 0.1em;
            font-size: 1.5rem;
        }
      }

      .skills {
        h3 {
          font-size: 15px;
          font-weight: 200;
          padding-left: 15px;
        }
      }
    }
  }

  // h3 span {
  //   border-bottom: solid #2F97C1;
  // }
}


.rating-group label {
          margin-bottom: 0px !important;
        }

.skills h3 {
  margin-top: 10px;
}

.tableau2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .grid-skills {
    display: flex;
    align-content: flex-end;

    .skills-line {
      display:flex;
      align-items:center;



      .rating-group {
        width: 115px;


        .rating__label {
            cursor: pointer;
            padding: 0 0.1em;
            font-size: 1.5rem;
        }
      }


      .skills {
        h3 {
          font-size: 15px;
          font-weight: 200;
          padding-right: 15px;
        }
      }
    }
  }
}



.row {
  .col-sm-3 {
    display:flex;
  }
}

// application title and application cards
.applications-column {
  overflow-y: auto;
  z-index: 999;
  max-height: calc(100vh - 0rem);
  margin: auto;
  margin-top:-8px;

  h3 {
    position:sticky;
    margin:20px;
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    background: #2F97C1;
    text-align: center;
    line-height: 40px;
    // box-shadow: 10px 10px 25px 10px rgba(0,0,0,0.21);
    border-radius: 5px;
  }

.offer-card {
    color: #3f3d57;
    border:solid 1px rgba(0,0,0,0.21);
    text-align: center;
    background-color:white;
    margin: 20px auto;
    padding: 10px 0;
    // box-shadow: 10px 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

    h2 {
        font-size: 16px;
        font-weight:500;
        width: 120px;
        margin: 0;
        }

    h4 {
       font-weight:200;
     }

    p {
      font-size: 10px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
      margin-right:10px;
    }

    .status-apply {
        font-style: italic;
        // text-align: right;
        margin-right: 5px;
        // margin-top: 0px;
    }
  }
}

.company-logo-infos {
    display: flex;

    .logo-company {
        display: flex;
        align-items: center;
        padding: 10px;

        img {
        height: 75px;
        }

        p.bordure_verticale {
        height: 100px;
        padding-right: 10px;
        border-right: 0.5px solid black;
  }
    }

    .company-infos {
      width: 100%;
        text-align: left;
        // padding-left: 7%;
        margin-top: 5px;
        h2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 5px;
          width: 100%;
          p {
            display: contents;
            height: 10px;
          }
        }
    }
    // .border_card {
    //   border-left: solid 1px #3f3d57;
    //   margin-top: 10px;
    // }
}

.colored-text {
    color: #1F6684;

    i {
        padding-right: 2px;
    }
}

.offer-card:hover {
    color: white;
    background-color:#2F97C1;
    border:1px solid #2F97C1;

    .company-infos {
        border-left-color: white;
    }
    .colored-text {
        color: white;
    }
    .logo-company {
      // background-color:white;
    }
  }

.sentence {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: grey;
  font-family: "Roboto";
}
