<div class="background"></div>

<div class="container">

  <div class="container-home">

    <div class="banner">
      <div class="logo">
        <div>
          <%= image_tag "logo_yourjob_copy.png", alt: "pic description"%>
          <h1>Your Job</h1></div>
      </div>

      <div class="sentences">
        <h2>Test your personality to find your first job</h2>
        <p>Meet the perfect job with your own skills!</p>
      </div>
      <div class="btn btn-ghost">Sign up</div>
    </div>

    <div class="container-right">
      <div class="log-sign">
        <div>
          <%= image_tag "access_account.svg", alt: "pic description"%>
          <h3>Login</h3>
        </div>

        <div>
          <%= image_tag "sign_up.svg", alt: "pic description"%>
          <h3>Sign up</h3>
        </div>
      </div>
      <div class="office-draw">
      <%= image_tag "image-front.png" %>
      </div>
    </div>
  </div>
</div>

