.btn-ghost {
    color:white;
    background-color:#3f3d57;
    font-family:'Roboto';
    font-weight:bold;
    text-align:center;
    border-radius:20px;
    padding: 10px 15px;
    width:200px;
    text-decoration: none;

    h2 {
      font-size:25px;
      color:white;
    }
  }

  .btn-ghost:hover {
    border:gold;
    color: white;
    background-color:#2f97c1;
  }

  // .btn-flat {

  // }

  .btn-darkblue {
    background-color: #3f3d57;
    color: white;
    font-family: 'Roboto', "sans-serif";
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
    padding: 18px 15px;
  }
  .btn-darkblue:hover {
    color: white;
    background-color: #2f97c1;
    text-decoration: none;
  }

  .btn-apply-card:hover {
    color: white;
    background-color: #3f3d57;
    text-decoration: none;
  }

