.btn-ghost {
    color:white;
    background-color:#3f3d57;
    font-family:'Roboto';
    border-radius:2px;


    h2 {
      font-size:25px;
      color:white;
    }
  }

  // .btn-ghost:hover {
  // }

  // .btn-flat {

  // }

