.btn-ghost {
    color:white;
    background-color:#3f3d57;
    font-family:'Roboto';
    border-radius:20px;
    width: 150px;


    h2 {
      font-size:25px;
      color:white;
    }
  }

  .btn-ghost:hover {
    border:gold;
    color: white;
    background-color:#2f97c1;
  }

  // .btn-flat {

  // }

