.container {
  display:flex;
  background: white;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height:50%;
  border: white;
  box-shadow: 1px 1px 50px grey;

  .container-home {
    border-color: grey;
    display:flex;

    .banner {
    width:50%;

      .logo {
        height: 200px;

        img {
          height:100px;
          width:100px;
        }

        h1 {
          font-family: 'Changa';
          color:black;
          width:150px;
          font-size:30px;
        }
      }

      .sentences {
        height:100px;

        h2 {
          color:#1F6684;
          font-family:'Roboto';
          font-size: 50px;
          font-weight: bold;
          height:150px;
        }

        p {
          color:#3f3d57;
          font-family:'Roboto';
          font-size: 20px;
          height:150px;
        }
      }

      .btn-ghost {
          margin: 200px 150px 0px 50px;
          font-weight: bold;
        }
    }
  }

    .container-right {
      width:50%;

      .log-sign {
      display:flex;
      z-index: 100;
      position: relative;

      img {
      margin: 15px;
      margin-left:20px;
      height:100px;
      width:200px;
      }

      h3 {
        margin:0;
        color:#2F97C1;
        font-size:15px;
        text-align: center;
      }
      a:hover {
        text-decoration: none;
        color: #3f3d57;
      }
    }
  }
      .office-draw {
        margin: 20px;
        margin-top: 100px;

        img {
          margin:150px;
          height:200px;
          position: relative;
          margin-right: 10px;
        }
        .image {
          display: flex;
          height:800px;
          position: absolute;
          top: -25px;
          right: -170px;
          margin: 0;
        }
      }
    }

.offers-container {
  display:flex;
  justify-content:normal;
  // background: ;
  // margin-left: 160px;
  // margin-left: auto;
  // margin-right: auto;
  // width:100%;

  .left-container {
    width:100%;
  }

  .offer-description {
    position:sticky;
    top: 80px;
    z-index:10;
      ul {
        color:white;
        display:flex;
        width:100%;
        height:60px;
        margin-right:100px;
        // margin-top:20px;
        list-style-type:none;
        display:flex;
        justify-content:space-between;
        background-color:#2f97c1;


      p {
      align-self:flex-start;
      flex-direction:row;
      color:white;
      font-family:'Roboto';
      font-weight:bold;
      margin-right:20px;

      }

      img {
        width:30px;
      }

      .icons-offers {
        display:flex;
        padding: 20px;
        align-items:center;

        .icon {
          margin-right: 20px;
          // margin-bottom:30px;
          line-height:unset;
          color:#3f3d57;
          font-size:20px;
        }

        .icon-search {
          margin-right: 20px;
          // margin-bottom:30px;
          line-height:unset;
          color:black;
          font-size:23px;
        }

        p {
          flex-direction:row;
          // font-size:20px;
      }
    }
  }
}

  .card-container {
    margin:0 20px;
  }
}

.list-details {
  margin-left:60px;
  width:100%;

    .icons-offers {
        display:flex;
        // padding: 20px;
        align-items:center;

        .icon {
          margin-right: 5px;
          // margin-bottom:30px;
          line-height:unset;
          color:#3f3d57;
          font-size:20px;
          justify-content:space-between;
        }

    h2 {
      font-size:20px;
      font-weight:100;
    }

    p {
      font-size:15px;
      color:#1F6684;
    }
}
}
.testbutton {
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
  width:100%;

  a.btn-ghost {
    margin:20px 50px;
    text-decoration: none;
    // margin-bottom:50px;

  }
  .compatibility {
  text-align:center;
  align-items: center;
  justify-content: center;

    .matching-percentage-css {
      color:#3f3d57;
      width: 32%;
      position: relative;
      display: inline-block;
      margin-top: 30px;
    }
  }
}

.flex-container {
  display:flex;
  // right:0;
  // top:0;
}

.fixed-map {
  right:20px;

  #map {
    position:fixed;
  }
      // top:130px;
}

.homebutton {
  display:flex;
  justify-content:flex-start;
  width:100%;
  margin-left:20px;

  a.btn-ghost {
    margin:150px 0px 30px 10px;
    text-decoration: none;

  }
}

.stats {
    position: absolute;
    margin-top: -28px;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-left: 140px;
    font-weight: bold;
    font-size: 20px;
}
