.container {
  background: white;
  box-shadow:;

  .container-home {
    display-flex:;

      h1 {
        color:#2F97C1;
        font-family:'Roboto';
        font-size: 55px;
      }

      h2 {

        color:#2F97C1;
        font-family:'Roboto';
        font-size: 25px;
      }

      h3 {

        color:#2F97C1;
        font-family:'Roboto';
        font-size: 20px;
      }
  }
}

.container-signup {
  background-color:;
  color:;
  box-shadow: ;

  h1 {

  }

  h2 {

  }

  h3 {

  }
}

.container-profile {
  display:flex;

  h1 {

  }

  h2 {

  }

  h3 {


  }

}

.container-testskills {

}
