.container {
  display:flex;
  background: white;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height:600px;
  border: white;
  box-shadow: 1px 1px 50px grey;

  .container-home {
    border-color: grey;
    display:flex;

      h1 {
        color:#3f3d57;
        font-family:'Roboto';
        font-size: 30px;
      }

      p {

        color:#2F97C1;
        font-family:'Roboto';
        font-size: 20px;
      }

      h3 {

        color:#2F97C1;
        font-family:'Roboto';
        font-size: 20px;
      }

      .log-sign {
        display:flex;

        img {
          height:100px;
          width:200px;
        }
      }
  }
}
// .container-signup {
//   background-color:;
//   color:;
//   box-shadow: ;
//   border-radius:;

//   h1 {

//   }

//   h2 {

//   }

//   h3 {

//   }
// }

// .container-profile {
//   display:flex;

//   .container-infos {
//     border:;
//     box-shadow:;
//   }

//   h1 {

//   }

//   h2 {

//   }

//   h3 {


//   }

// }

// .container-skill {

// }

// .container-job-offer {
//   display:flex;
//   background-color: white;
//   box-shadow:;
// }
