  @media screen and (min-width: 769px) {
    #nav-tabs-wrapper {
      display: block!important;
    }
  }
  @media screen and (max-width: 768px) {
    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }
  }

//   pitits logos
.nav-tabs {
    border-bottom: none !important;
}
#nav-tabs-wrapper {
    padding: 19px;
    margin-bottom: 20px;
    width: 117px;
    .fas .far {
        background-size: 20px;
    }
    .fa-address-card {
        background-color: #EEEBEB;
        color: black;
        padding: 15px;
        border-radius: 10px;
    }
    .fa-business-time {
        color: black;
        background-color: #f8c548;
        padding: 15px;
        border-radius: 10px;
    }
    .fa-file-contract {
        background-color: #7692ff;
        color: black;
        padding: 15px 18px;
        border-radius: 10px;
    }
    .fa-map-marker-alt {
        background-color: #2f97c1;
        color: black;
        padding: 15px 18px;
        border-radius: 10px;
        background-size: 70px;
    }
}
