.ticket {
  height: auto;
  width:1200px;
  margin-right:auto;
  margin-left:auto;
  margin-top:90px;
  margin-bottom:10px;
  background: white;
  box-shadow: 10px 0 15px rgba(0,0,0,0.2);
  border-radius:5px;

  h2 {
    color:white;
    font-size:20px;
    margin: 0;
    padding: 20px;
  }

  h3 {
    font-size:15px;
    margin:20px;
    text-align:justify;
  }

  p.bordure_horizontale {
  width:100px;
  padding-right: 0px;
  }

  .text-draw {
    margin:10px;
    color:white;
      i {
        font-size:20px;
        align-self:baseline;
      }

      p {
        font-size:15px;
        align-items:flex-end;
      }

    .list-offer{
      display: inline-flex;
      margin-right:20px;

      .icon {
        margin-right:10px;
      }
    }
  }
  #map {
    height:300px;
    width:100%;
  }
}

.align-titles {
  display:flex;
  background-color:#3f3d57;
  border-radius: 5px 5px 0 0;
  }
.offer {
  display:flex;
  padding: 30px;
  .left {
    width:50%;
  }
  .right {
    flex-grow:1;
    padding-top: 50px;

    .image-company {
      display:flex;
      justify-content:center;
    }
  }
}

.ticket-text {
  height:400px;
  width:50%;

  .radar {
    display:flex;
    width: 300%;
    padding:20px;
  }

  .text {
    width:100%;

    h1 {
      margin:20px;
      color:#2f97c1;
      }

    p {
      margin:20px;
      color:black;
      text-align:justify;
      line-height:2rem;
    }

    h3 {
      margin:20px;
      width:100%;
      color:black;
    }
    .image-company {
      width:100px;
      height:100px;
      display:flex;
      justify-content:center;
    }
  }

  .testbutton1 {
      text-align:center;
      display: flex;
      justify-content: center;
      align-items: center;

      a.btn-ghost {
      margin:20px 50px;
      text-decoration: none;
      width:200px;
    }
  }
}
