.ticket {
  height: 500px;
  margin-right:auto;
  margin-left:auto;
  margin-top:20px;
  margin-bottom:10px;
  width:70%;
  background: white;
  box-shadow: 10px 0 15px rgba(0,0,0,0.2);
  border-radius:0px 0px 0px 0px;

  h2 {
    color:white;
    font-size:20px;
    margin: 10px 0 0 30px;
  }

  h3 {
    font-size:15px;
    margin:20px;
    text-align:justify;
  }

  p.bordure_horizontale {
  width:100px;
  padding-right: 0px;
  border-bottom: 1px solid yellow;
  }

  .text-draw {
    margin:10px;
    color:white;
      i {
        font-size:20px;
        align-self:baseline;
      }

      p {
        font-size:15px;
        align-items:flex-end;
      }

    .list-offer{
      display: inline-flex;
      margin-right:20px;

      .icon {
        margin-right:10px;
      }
    }
  }
}

.align-titles {
  display:flex;
  background-color:#3f3d57;
  border-radius:0px 0px 0 0;
  // align-items:flex-end;
  // #graph1 {
  //   margin-top:25px;
  //   height:100px;
  // }
  }

.ticket-text {
  display:flex;
  height:400px;

  .text {
    width:70%;
  }

    h1 {
      margin:20px;
      color:#2f97c1;
    }

    .testbutton1 {
      text-align:center;
      align-items:center;
      height:300px;
      margin-right:200px;
      display: flex;
      justify-content: center;
      align-items: center;

      a.btn-ghost {
      margin:20px 50px;
      text-decoration: none;
    }

  .radar {
  width: 50%;
  height:500px;

    .chartjs-size-monitor {
      position:relative;
      }
    }
  }
}
